# --- LLM Provider Toggle ---
# Set to 'ds' for DeepSeek or 'gem' for Gemini
AI_PROVIDER=ds/gem/etc
MODEL=gemini/gemini-2.5-flash-lite
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEEPSEEK_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

EMBEDDINGS_GOOGLE_GENERATIVE_AI_MODEL_NAME=gemini-embedding-001

# --- Model Toggle ---
# Set to 'ds' for DeepSeek or 'gem' for Gemini


# --- Tavily Search ---
TAVILY_API_KEY=tvly-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# --- crewAI Settings ---
CREWAI_TRACING_ENABLED=false
